<% if current_user.id == message.participant.user.id %>
<div id="message-<%= message.id %>" class="message-div">
  <small>
    <strong><%= message.participant.user.username %></strong>
    <i><%= message.created_at.strftime("%e/%m/%Y - %H:%M") %></i>
  </small>
  <p><%= message.content %></p>
</div>
<% end %>
