.dashb-wrapper {
  margin-left: 20%;
  margin-top: 32px;
  margin-bottom: 10%;
  margin-right: 20%;

}

.body {
  background-color: #E8AABE;
}


.calendar-heading {
  background-color: #52D169;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  justify-content: space-between;
}


.dashboard-title {
  text-align: center;
  margin-right: 10%;
  font-weight: bold;

}

.dashboard-synopsis{
  font-size: 2,35em;
  font-style: italic;
  margin-top: 33px;
  margin-bottom: 1rem;


}

.calendar {
  background: #52D169;
  box-shadow: 0 0 20px #878787;
  text-align: center;
  width: 243px;
  border-radius: 4px 4px 4px 4px;
  margin-top: 35px;
}

.carte-text {
  color: black;
  font-weight: 600;

}
.nav-link{
  width: 72px;
  height: 33px;
  border-radius: 40px;
  background: rgb(108, 157, 117);
  color: #392E2C;
  font-size: 14px;
  font-weight: 600;
  text-align: -moz-center;
  padding-top: 5px;
}
.container-fluid {
  background: rgb(159, 163, 160);
}


.calendar-title {
  padding-left: 24px;
  padding-right: 24px;
}

.simple-calendar {



  .day {
   width: 20px;
   height: 20px;

  }
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .start-date {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    color: #CA3C66;
    background: #52D169;
  }

  .today {

	}

  .prev-month {
    background-color: #c6c5ce;
    color: #878787;

  }
  .next-month {
   background-color: #D4D3DC;

  }
  .current-month {
    background-color: #b0edbb;
  }

  .has-events {
    font-size: 19px;
    background-color: #E8AABE;


  }
}
