.calendar-heading {
  background-color: #52D169;
  font-weight: bold;
  text-align: center;
}

.calendar {
  background: #52D169;
  box-shadow: 0 0 20px #878787;
  text-align: center;
  border-radius: 4px;
}

.calendar-title {
  padding-left: 16px;
  padding-right: 20px;
  font-size: 13px;
  font-weight: 600;
  color: #023a3f;
}

.dashboard-title {
  text-align: center;
  font-weight: bold;
}

.dashboard-synopsis{
  font-size: 16px;
  height: 20vh;

}


.carte-text {
  color: black;
  font-weight: 600;

}
.nav-link{
  width: 72px;
  height: 33px;
  border-radius: 40px;
  background: linear-gradient(233deg, #17d543 0%, #1f7ee0 100%);
  color: #392E2C;
  text-align: -moz-center;
  padding-top: 5px;
}
.navbar a.nav-link {
  font-size: 16px;
  font-weight: 600;
}
.container-fluid {
  background: rgb(159, 163, 160);
}



.simple-calendar {
  .has-events {
    font-size: 10px;
  }

  .day {

  }
  .wday-0 {
    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-1 {
    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-2 {
    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-3 {
    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-4 {
    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-5 {
    max-width: 5vw;
    max-width: 8vh;
  }
  .wday-6 {
    max-width: 5vw;
    max-height: 8vh;
  }

  .start-date {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: #CA3C66;

  }

  .today {
    font-weight: bold;
    text-align: center;
    background-color: rgb(112, 71, 235);
    color:#363B48;
    background: #52D169;
	}

  .prev-month {
    background-color: #c6c5ce;
    color: #878787;

  }
  .next-month {
   background-color: #D4D3DC;

  }
  .current-month {

  }

}
