.calendar-heading {
  background: $background-color;
  font-weight: bold;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px 16px 0 0;

  a {
    text-decoration: none;
    color: white;
  }
}

.calendar {
  background: $background-color;
  box-shadow: 0 0 20px #878787;
  text-align: center;
  border-radius: 4px;
}

.calendar-title {
  font-size: 2.8vh;
  font-weight: 600;
  color: #023a3f;
  position: relative;
  right: 6px;
}

.dashboard-title {
  background: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  h1 {
    text-align: center;
    font-weight: bold;
    height: 8vh;
    font-size: 40px;
    position: relative;
    top: 1.5vh;
  }
}

.dashboard-synopsis{
  font-size: 16px;
  height: 12vh;

  p {
    text-align: center;
  }

}

.img-calendar {
  width: 8vw;
  height: 4vh;
  max-width: 8vw;
  max-height: 4vh;
  border-radius: 50%;
  border: 1px solid black;
}

.greetings-dashboard {
  background-image: linear-gradient(233deg, #17d543 0%, #1f7ee0 100%);
  background-clip: text;
  color: transparent;
  font-size: 30px;
  font-weight: 600;
}

.greetings-dashboard-paragraph {
  font-size: 20px;
}

.dashb-events-created-container{
  padding-left: 4vw;

  h3{
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}

.dashb-events-created {
  display: flex;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.dashb-event-created{
  margin-right: 9px;
}

.dashb-event-card {
  background-size: cover;
  background-position: center;
  height: 90px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 5px;

    a{
      text-decoration: none;
      color: white;
    }
}

.event-popup {
  padding-left: 4vw;
  height: 22.5vh;
  overflow-y: scroll;

  a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 10vh;
  }
}

.carte-text {
  color: black;
  font-weight: 600;
  text-decoration: none;
}


.simple-calendar {
  padding: 2px;

  .table {
    border: none;
    --bs-table-striped-bg: none;
  }

  .table-striped {

    thead {
      border: none;
    }

    th {
      border: none;
      text-align: center;
    }
  }

  .has-events {
    font-size: 10px;
  }

  .day {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    height: 55px;
  }
  .wday-0 {

    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-1 {

    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-2 {

    max-width: 5vw;
    max-height: 8vh;
  }

  .wday-3 {

    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-4 {

    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-5 {

    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-6 {

    max-width: 5vw;
    max-height: 8vh;
  }

  .start-date {
    font-weight: bold;
    text-align: center;
    color: #CA3C66;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 5vw;
    max-height: 8vh;
  }

  .today {
    font-weight: bold;
    text-align: center;
    color:#363B48;
    background: rgba(24,174,189,1);
	}

  .prev-month {
    background: none;

  }
  .next-month {
    background: none;

  }
  .current-month {

  }

}

.calendar-infobulle {
  font-weight: 600 ;
}
