.calendar-heading {
  background: linear-gradient(233deg, rgba(23,213,67,1) 0%, rgba(31,126,224,1) 100%);
  font-weight: bold;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px 16px 0 0;

  a {
    text-decoration: none;
    color: white;
  }
}

.calendar {
  background: linear-gradient(233deg, rgba(23,213,67,1) 0%, rgba(31,126,224,1) 100%);
  box-shadow: 0 0 20px #878787;
  text-align: center;
  border-radius: 4px;
}

.calendar-title {
  font-size: 2.8vh;
  font-weight: 600;
  color: #023a3f;
  position: relative;
  right: 6px;
}

.dashboard-title {
  background: linear-gradient(233deg, rgba(31,126,224,1) 0%, rgba(23,213,67,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-weight: bold;
    height: 8vh;
    font-size: 40px;
  }
}

.dashboard-synopsis{
  font-size: 16px;
  height: 20vh;

  p {
    text-align: center;
  }

}

.img-calendar {
  width: 8vw;
  height: 4vh;
  max-width: 8vw;
  max-height: 4vh;
  border-radius: 50%;
  border: 1px solid black;
}

.greetings-dashboard {
  background-image: linear-gradient(233deg, #17d543 0%, #1f7ee0 100%);
  background-clip: text;
  color: transparent;
  font-size: 30px;
  font-weight: 600;
}

.greetings-dashboard-paragraph {
  font-size: 20px;
}

.carte {
  height: 5vh;
}

.carte-text {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.nav-link{
  width: 72px;
  height: 33px;
  border-radius: 40px;
  background: linear-gradient(233deg, #17d543 0%, #1f7ee0 100%);
  color: #392E2C;
  text-align: -moz-center;
  padding-top: 5px;
}
.navbar a.nav-link {
  font-size: 16px;
  font-weight: 600;
}
.container-fluid {
  background: rgb(159, 163, 160);
}



.simple-calendar {

  padding: 2px;

  .has-events {
    font-size: 10px;
  }

  .day {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-0 {
    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-1 {
    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-2 {
    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-3 {
    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-4 {
    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-5 {
    max-width: 5vw;
    max-height: 8vh;
  }
  .wday-6 {
    max-width: 5vw;
    max-height: 8vh;
  }

  .start-date {
    font-weight: bold;
    text-align: center;
    color: #CA3C66;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 5vw;
    max-height: 8vh;
  }

  .today {
    font-weight: bold;
    text-align: center;
    background-color: rgb(112, 71, 235);
    color:#363B48;
    background: linear-gradient(270deg, rgba(218,14,14,1) 0%, rgba(224,170,43,1) 47%, rgba(231,219,76,1) 100%);
	}

  .prev-month {
    background-color: #c6c5ce;
    color: #878787;

  }
  .next-month {
   background-color: #D4D3DC;

  }
  .current-month {

  }

}
