.profile-page {
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  position: absolute;
  min-height: 30vh;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #edf1f0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  bottom: 0;
}

.profile-actions {
  display: flex;
  justify-content: space-around;
}

.profile-infos {

  display: flex;
  justify-content: space-around;
}

.profile-description {
  text-align: start;
  margin-left: 8vh;
  height: 12vh;
}

.home-wrapper {
  width: 100%;
  min-height: 93vh;
  background-image: image-url("NearNowBackgroundHome.png");

  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.content-home {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.homepage-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.index-tags-container{
  width: 100vw;
  z-index: 8;
  position: absolute;
  top: 9vh;
  right: -5px;
}

.index-tags {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.index-btn-tag{
  display: inline-block;
  font-size: 15px;
  border-radius: 16px;
  padding: 0.2rem 0.6rem;
  background-color: $button-color;
  color: white;
  border: 1px solid rgb(126, 115, 255);
  margin-right: 9px;

}

.intro-tag {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0vh;
  position: absolute;
  top: 26vh;
}
