.profile-page {
  width: 100%;
  min-height: 28vh;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: rgb(230, 240, 236);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-actions {
  display: flex;
  justify-content: space-around;
}
