.show-page{
  z-index : 5;
  width: 100%;
  position: absolute;
  max-height: 40vh;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #edf1f0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  bottom: 0;
  font-family: $username-font;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

// .show-page-background {
//   z-index: 4;
//   width: 100.5vw;
//   position: absolute;
//   min-height: 40vh;
//   bottom: 0;
//   left: -0.25vw;
//   border-top-right-radius: 50px;
//   border-top-left-radius: 50px;
//   background: $background-color;
// }

.show-event-card {
  display: flex;
  justify-content: space-evenly;
}

.show-event-title {
  padding-top: 1vh;
  text-align: center;
}
.show-event-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 16px;
   p{
    margin-bottom: 0;
   }
}

.show-cta {
  text-decoration: none;
  text-align: center;
  color: #edf1f0;
}

.show-creator-address {
  font-size: 16px
}

.show-actions-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 18px;
  padding-bottom: 1vh;

  a {
    font-weight: 600;
    text-align: center;
    text-decoration: none;
  }
}

.show-description {
  text-align: center;
  font-size: 16px;
  margin-top: 1vh;
  overflow-y: scroll;
  max-height: 8vh;
  margin-bottom: 1vh;
  margin-left: 6vw;
  margin-right: 6vw;
}

// .show-interest {
//   font-size: 16px;
// }

.show-event-tags{
  margin-bottom: 1vh;

}

.show-tag {
  display: inline-block;
  font-size: 15px;
  border-radius: 16px;
  padding: 0.2rem 0.6rem;
  background-color: $background-color;
  color: white;
  border: 1px solid rgb(126, 115, 255);
  margin-right: 9px;
  position: relative;
  top: -4px;
}

.fa-calendar{
  margin-left: 9px;
}

.datetime-show-start {
  font-weight: 600;
  color: green;
}

.datetime-show-end {
  font-weight: 600;
  color: red;
}

.nb-participants-bold {
  font-weight: 600;
  font-size: 14px;
}

.bold-title {
  font-weight: 600;
}
