.show-page{
  z-index : 5;
  width: 100%;
  position: absolute;
  min-height: 40vh;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #edf1f0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  bottom: 0;
}

.show-page-background {
  z-index: 4;
  width: 100.5vw;
  position: absolute;
  min-height: 40.4vh;
  bottom: 0;
  left: -0.25vw;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background: linear-gradient(233deg, rgba(23,213,67,1) 0%, rgba(31,126,224,1) 100%);
}

.show-event-card {
  display: flex;
  justify-content: space-around;
}

.show-event-title {
  text-align: center;
}
.show-event-infos {
   p{
    margin-bottom: 0;
   }
}


.show-cta {
  text-decoration: none;
  text-align: center;
  color: #edf1f0;
}

.show-actions-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 16px;

  a {
    text-align: center;
    text-decoration: none;
  }
}

.show-description {
  text-align: center;
}

.show-interest {
  font-size: 16px;
}

.show-tag {
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid rgb(126, 115, 255);
  margin-right: 9px;
}
