<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "", events_path, class: "navbar-brand fa-solid fa-house", id: "accueil" %>

        <% if user_signed_in? %>
              <%= link_to "", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link fa-solid fa-right-from-bracket", id: "logout" %>
        <% else %>
            <div class=>
              <%= link_to "Login", new_user_session_path, class: "nav-link", id: "login" %>
            </div>
        <% end %>
  </div>
</div>
