<%# <div class="event <%= event.public ? 'public' : 'private' %>
  <%# <%= image_tag "Monamidiego.jpeg", alt: "Logo" %>
<%# </div> %>


<div class="event <%= event.marker_class %>">
  <%= image_tag "Monamidiego.jpeg", alt: "Logo" %>
</div>
