<div class="event <%= event.marker_class %>">
  <% if event.public %>
    <%= image_tag "markers/publiciconblue.png" %>
  <% else %>
    <%= image_tag "markers/espace-reserve.png"%>
  <% end %>
</div>
