
<div class="event <%= event.marker_class %>">
  <% if event.public %>
    <%= image_tag "markers/publiciconnearnow2.png" %>
  <% else %>
    <%= image_tag "markers/iconepriveenearnow2.png"%>
  <% end %>
</div>
