<p>index</p>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<%= link_to "Calendrier", dashboard_path, class: "button-green" %>
<%= link_to "Créer un évènement", new_event_path, class: "button-green" %>
