<div class="home-wrapper">

  <div class="content-home">
    <h1>NearNow</h1>
    <p>L'aventure à votre porte</p>
  </div>

  <div class="homepage-link">
    <%= link_to "Démarrer", events_path, class:"event-link-button" %>
  </div>
</div>
