<div class="home-wrapper">

  <div class="content-home">
    <div class="banner">
    <h5>NearNow
    <i class="fa-regular fa-compass"></i>
    </h5>
    </div>
    <p class="intro-tag">L'aventure commence maintenant</p>
  </div>

  <div class="homepage-link">
    <%= link_to "Démarrer", events_path, class:"event-link-button" %>
  </div>
</div>
