.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background: $background-color;
  text-align: center;
  width: 100%;

  h5 {
    font-size: 4vh;
    font-family: $logo-font;
    color: white;
  }
}

.banner-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background: $background-color;
  text-align: center;
  width: 100%;
  height: 100%;

  .title-home {
    font-size: 7vh;
      font-family: $logo-font;
      color: white;
  }
}
