.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background: $background-color;
  text-align: center;
  width: 100%;
  height: 100%;

  h5 {
    font-size: 28px;
    font-family: $logo-font;
    color: white;
  }
}
