.button-blueish {
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: $background-color;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 40px;
  width: fit-content;
  height: 56px;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding: 0 20px;
}

.button-login {
  width: 90vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto;
}

.event-link-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  border-radius: 36px;
  width: 80%;
  font-weight: 600;
  position: absolute;
  top: 82vh;

}
