.chatroom {
  background: white;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.chatroom-back {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: white;
  }
}

.chatroom-title {
  background: $background-color;
  display: flex;
  justify-content: center;

}

.chatroom-name-room {
  color: white;
}

.container {
  --bs-gutter-x: none;
}

#message_content {
  border-radius: 10px 0 0 10px;
}

.chatroom-icon {
  color: white;

}

.message-sent {
  margin-bottom: 1vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  padding: 4px;
  padding-left: 10px;
}
