.container-heba {
  max-width: 260px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(126, 115, 255, 0.35) 0px 5px 15px;
  align-content: center;
  box-sizing: border-box;
  // background: rgb(174,238,208);
  border-radius: 15px;
}

.form-control {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 5px;
}

.form-tags {
  scroll-behavior: auto;
  margin-bottom: 30px;
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid rgb(126, 115, 255);
  margin-right: 9px;
}

.tag-selector:checked + label {
  background-color: #7E73FF;
  color: white;
}

.title-create {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 20px;
}

.submit-btn {
  margin: 23%;
  margin-top: 0px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px 10px;
  background-color: rgb(248, 189, 79);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top-space {
  padding-top: 30px;
}

.form-content {
  margin: 0 auto;
  height: 50px;
}

// .form-color {
//   // background: rgb(70,116,175);
// }
