.body-container {
  max-width: 260px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-content: center;
  box-sizing: border-box;
  // background: rgb(174,238,208);
}

.form-control {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
}

// .scroll {
//   scroll-behavior: auto;
// }

.submit {
  align-items: center;
}

.form-content {
  margin: 0 auto;
  height: 50px;
  background: rgb(174,238,208);
}
