.container {
  max-width: 330px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-content: center;
  // background: rgb(174,238,208);
}

.form-control {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

// .d-flex {
//   width: 100%;
//   border-radius: 4px;
// }

.mx-1 {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #ccc;
}

.mb-3 {
  width: 100%;
}

// input,
// select,
// textarea {
//   font-family: inherit;
//   font-size: 100%;
// }
