.container-heba {
  overflow-y: scroll;
  max-width: 80vw;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  box-shadow: rgba(126, 115, 255, 0.35) 0px 5px 15px;
  align-content: center;
  box-sizing: border-box;
  border-radius: 16px;
  margin-bottom: 4vh;
  padding-top: 14vh;
  margin-top: 4vh;
  padding-bottom: 2vh;
}

#new_event {
  width: 35vh;
  margin: 0 auto;
}

.form-label {
  font-weight: 600;

  abbr {
    color: rgb(197, 17, 17);
  }
}

.form-check-label {
  font-size: 20px;
  font-weight: 600;
  color: green;
}

.form-tags {
  justify-content: space-between;
  align-items: center;
  scroll-behavior: auto;
}

.col-form-label {
  display: none;
}

#event_public {
  font-size: 22px;
  border: 2px solid grey;
  margin-left: -6.5vw;
}

.event_event_tag_ids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1vh;
  grid-column-gap: 1vh;
}

.form-control {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
}

.form-content {
  margin: 0 auto;
  height: 50px;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid rgb(126, 115, 255);
  width: 34vw;
  text-align: center;
}

.tag-selector:checked + label {
  background-color: #7E73FF;
  color: white;
}

.title-create {
  color: white;
  height: 8vh;
  background: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
    h4 {
      text-align: center;
      font-size: 32px;
      font-weight: 600;
    }

}

.submit-btn {
  height: 6vh;
  width: 100%;
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: 600;
  background: $button-color;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.submit-button-formulaire {
  height: 8vh;
  width: 76vw;
  display: flex;
  justify-content: center;
  align-items: center;

}
