.icon-event-name {
  overflow: hidden;
  text-align: center;

}

.event {

  border-radius: 50%;
  &.public {

  }

  &.private {

  }

  &.small-marker img{
    height: 20px;
    width: 20px;
  }

  &.big-marker img{
    height: 60px;
    width: 60px;
  }

}
