.navbar-lewagon {
  background: #edf1f0;
  width: 100%;
  height: 5vh;
  position: absolute;
  bottom: 0;
}

.navbar {
  .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: flex-start;
    justify-content: space-between;
  }

  a.nav-link {
    font-size: 16px;
    font-weight: 500;

  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
