.navbar-lewagon {
  background-color: #edf1f0;
  width: 100%;
  max-height: 7vh;

}

.navbar {
  .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    background-color: #edf1f0;
  }

  a.nav-link {
    font-size: 16px;
    font-weight: 500;

  }
}

#login {
  background: linear-gradient(270deg, rgba(72,80,182,1) 0%, rgba(24,174,189,1) 100%);
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#logout {
  background: #d4574e;
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#accueil {
  // background: linear-gradient(270deg, rgba(72,80,182,1) 0%, rgba(24,174,189,1) 100%);
  background: $button-color;
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
