.profile-infos {
  padding: 2vh;
  margin-right: 2vh;
  margin-left: 2vh;
  // border-radius: 30px 30px 5px 5px;
  // align-items: center;
}

.profile-infos p {
  margin: 0;
  padding-left: 7vh;
}

.username {
  font-family: $username-font;
  flex-grow: 1;
  margin-left: 3vw;
  margin-top: 1vh;
}

.homepage-photo {
  width: 25vw;
  height: 11vh;
  border-radius: 50%;
  border: 5px solid white;
}

// .username-photo {
// }

.profile-homepage-description {
  text-align: justify;
  position: absolute;
  margin-right: 3vh;
  padding-left: 34vw;
  font-family: $profile-homepage-description-font;
}

.profile-homepage-description h3 {
  color: #000000;
}

.profile-homepage-description p {
  margin: 0;
  // padding-bottom: 2vh;
}
