.profile-infos {
  padding: 2vh;
  margin-right: 2vh;
  margin-left: 2vh;
  // border-radius: 30px 30px 5px 5px;
  // align-items: center;
}

.profile-infos h5 {
  padding-left: 2vh;
  margin-left: -63vw;
  padding-top: 2vh;
}

.profile-infos p {
  margin: 0;
  padding-left: 7vh;
}

.username {
  font-family: $username-font;
  text-align: center;
}

.homepage-photo {
  width: 27vw;
  height: 12vh;
  border-radius: 50%;
  border: 5px solid white;
}

.username-photo {
  margin-left: -85vh;
}

.profile-homepage-description {
  text-align: justify;
  position: absolute;
  margin-right: 3vh;
  padding-left: 34vw;
  font-family: $profile-homepage-description-font;
}

.profile-homepage-description h3 {
  color: #000000;
}

.profile-homepage-description p {
  margin: 0;
  // padding-bottom: 2vh;
}
